<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium - Get smarter about what matters to you.</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <header class="fixed-top backgrd" style="height: 75px;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href=""></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-auto d-flex align-items-center">
                        <h5 style=" font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold; font-size: 35px;">Medium<span class="sr-only"></h5>
                    </div>
                    <div class="navbar-nav ml-auto d-flex align-items-center">
                        <form class="form-inline" action="{% url 'search' %}" method="get">
                            <!-- {% csrf_token %} -->
                            <input name ="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                          </form>
                        <a class="nav-item nav-link font-segoe" href="">Subscribe</a>
                        <a class="nav-item nav-link font-segoe" href="">Write</a>
                        <a class="nav-item nav-link font-segoe" href="">Sign In</a>
                        <button type="button" class="btn btn-success get-start-header font-segoe">Get Started</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 150px;">
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static '/images/people.png' %}" class="img-fluid">
                <h5 class="font-lucida mt-3">4 Things Emotionally Intelligent People Don’t Do</h5>
                <p class="font-lucida" style="color: #CF9F7F ; font-size: 13px;">Give up these bad habits and your natural emotional intelligence will shine</p>
                <p class="art-aut">Deborah Copaken<br>Apr 9</p>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/art1.jpeg' %}" class="img-fluid"> 
                    </div>
                    <div class="col-sm-8">
                        <h6>Not Everyone Will Get Through This</h6>
                        <p class="art-aut">Valentini<br>Mar 9</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 ">
                        <img src="{% static 'images/art2.jpeg' %}" class="img-fluid"> 
                    </div>
                    <div class="col-sm-8">
                        <h6>The Real Reason Every Fashion Company Is Now Making Face Masks</h6>
                        <p class="art-aut">Zara Stone<br>Apr 7</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/art3.png' %}" class="img-fluid" style="height: auto;" !important> 
                    </div>
                    <div class="col-sm-8">
                        <h6>6 Habits of Super Learners</h6>
                        <p class="art-aut">Thomas Oppong<br>Feb 23</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/people.jpeg' %}" class="img-fluid">
                <h5 class="font-lucida mt-3">America is Committing Economic Suicide</h5>
                <p class="font-lucida" style="color: #CF9F7F ; font-size: 13px;">What’s the point of reading all these</p>
                <p class="art-aut">William Cho<br>Jan 3</p>
            </div>
        </div>
    </div>

    <section class="garis-tengah">
        <div class="row">
            <hr style="width: 1100px;">                          
        </div>
    </section>

    <section class="utama">
        <div class="container">
            <div class="row artikel-utama">
                <div class="col-sm-8">
                    {% for artikel in page_obj %}
                    <div class="container">
                        <div class="row daftar-artikel">
                            <div class="col-sm-8">
                                <h6 style="color: gray;">BASED ON YOUR READING HISTORY</h6>
                                <h5><a href="{{artikel.pk}}">{{artikel.judul_artikel}}</a></h5>
                                <p>{{artikel.isi_artikel|truncatewords:15}}</p>
                                <span style="font-size: 13px; font-weight: bold;">{{artikel.author}}</span><br>
                                <span style="font-size: 13px; color: #B78F7F;">{{artikel.pub_date}}</span>
                            </div>
                            <div class="col-sm-4">
                                <img src="{{artikel.media_artikel.url}}" class="img-fluid">
                            </div>
                        </div>
                    </div><br>
                    {% endfor %}   
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>     
                </div>
                <div class="col-sm-4">
                    <section class="bagian-biru" style="background-color: #D7EFEE;">
                        <div class="row bagian-kanan-atas">
                            <div class="col-sm-6 d-flex align-items-end align-self-center">
                                <h5 class="pl-4"><strong>New from<br>your network</strong></h5>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'images/ladysgoogle.png' %}" style="height:106px;">
                            </div>
                        </div>
                    </section>
                    <section class="bagian-profil pt-4" style="background-color: #fafafa ;">
                        <div class="row">
                            <div class="col-sm-3 align-items-start pl-5">
                                <img src="{% static 'images/sarahcollins.jpeg' %}" class="rounded-circle" style="height: 40px; width:40px">
                            </div>
                            <div class="col-sm-8 align-self-center">
                                <p><strong>Our bodies are marvelous.</strong><br>
                                <span style="font-size: 14px;">Sarah Collins in Elemental</span><br>
                                <span style="font-size: 14px; color:gray;">a few hours ago</span></p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 align-items-start pl-5">
                                <img src="{% static 'images/circleblue.png' %}" class="rounded-circle" style="height: 40px; width:40px">
                            </div>
                            <div class="col-sm-8 align-self-center">
                                <p><strong>Your Marvelous Body</strong><br>
                                    <span style="font-size: 14px;">Elemental Editors in Elemental</span><br>
                                    <span style="font-size: 14px; color:gray;">Apr 10</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 align-items-start pl-5">
                                <img src="{% static 'images/judbrewer.png' %}" class="rounded-circle" style="height: 40px; width:40px">
                            </div>
                            <div class="col-sm-8 align-self-center">
                                <p><strong>The Anger Is Real. Here’s How to Manage It.</strong><br>
                                    <span style="font-size: 14px;">Jud Brewer MD PhD in Elemental</span><br>
                                    <span style="font-size: 14px; color:gray;">Apr 10</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 align-items-start pl-5">
                                <img src="{% static 'images/rupamarya.jpeg' %}" class="rounded-circle" style="height: 40px; width:40px">
                            </div>
                            <div class="col-sm-8 align-self-center">
                                <p><strong>One Covid-19 Doctor’s Personal Wellness To-Do List</strong><br>
                                    <span style="font-size: 14px;">Rupa Marya, MD in Elemental</span><br>
                                    <span style="font-size: 14px; color:gray;">Mar 15</span></p>
                            </div>
                        </div>
                    </section>
                    <section class="medium-populer">
                        <div class="row mt-3">
                            <h5 class="pl-5">Popular on Medium</h5>
                            <hr style="width: 320px;" class="ml-5">                          
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="color: rgba(0,0,0,.15);">
                                <h3 class="pl-5">01</h3>
                            </div>
                            <div class="col-sm-8">
                                <p><strong>The Forgotten Art of Assembly</strong><br>
                                <span style="font-size: 14px;">Nicholas Berger</span><br>
                                <span style="font-size: 14px; color:gray;">Apr 4</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="color: rgba(0,0,0,.15);">
                                <h3 class="pl-5">02</h3>
                            </div>
                            <div class="col-sm-8">
                                <p><strong>Building a Text Editor for a Digital-First Newsroom</strong><br>
                                <span style="font-size: 14px;">Sophia Ciocca in NYT Open</span><br>
                                <span style="font-size: 14px; color:gray;">Apr 12, 2018</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="color: rgba(0,0,0,.15);">
                                <h3 class="pl-5">03</h3>
                            </div>
                            <div class="col-sm-8">
                                <p><strong>Can You Catch COVID-19 in the Air?</strong><br>
                                <span style="font-size: 14px;">Robert Roy Britt</span><br>
                                <span style="font-size: 14px;color:gray;">Apr 6</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="color: rgba(0,0,0,.15);">
                                <h3 class="pl-5">04</h3>
                            </div>
                            <div class="col-sm-8">
                                <p><strong>Merging Dictionaries in Python 3.9</strong><br>
                                <span style="font-size: 14px;">Eden Au in Towards Data Science</span><br>
                                <span style="font-size: 14px; color:gray;">Apr 9</span></p>
                            </div>
                        </div>
                    </section>
                    <section class="menu-help">
                        <div class="row mt-3">
                            <hr style="width: 320px;" class="ml-5">                          
                        </div>
                        <div class="row">
                            <ul class="list-unstyled menu-bawah d-flex pl-5">
                                <li class="ml-3" style="color: grey !important;">Help</li>
                                <li class="ml-3" style="color: grey !important;">Status</li>
                                <li class="ml-3" style="color: grey !important;">Writers</li>
                                <li class="ml-3" style="color: grey !important;">Blog</li>
                                <li class="ml-3" style="color: grey !important;">Careers</li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled menu-bawah d-flex pl-5">
                                <li class="ml-3" style="color: grey !important;">Privacy</li>
                                <li class="ml-3" style="color: grey !important;">Terms</li>
                                <li class="ml-3" style="color: grey !important;">About</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</body>
</html>